* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background: #419fd9;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg);
  font-family: "Open Sans", "Roboto", "Ubuntu", sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input[type="search"],
input[type="text"] {
  border: none;
  outline: none;
}

input[type="checkbox"] {
  margin: 7px;
  margin-right: 15px;
}

/* FIRST, THE OVERLAY ELEMENTS */

.alerts {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  padding: 10px;
  color: #666;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  display: none;
}

.newGroupChannel,
.newChannel {
  color: #666;
  font: 400 13.3333px Arial;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 400px;
  max-width: 600px;
  height: 200px;
  z-index: 12;
  display: none;
  padding: 10px;
  border-radius: 10px;
}

.newGroupChannel p,
.newChannel p {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin: 10px 0px 15px 5px;
}

.newGroupChannel input,
.newChannel input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin: 10px 0px 15px 5px;
  padding: 2px 0px 4px 0px;
  border-bottom: 1px solid gray;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 98%;
}

.newGroupChannel button,
.newChannel button {
  margin-top: 10px;
  margin-left: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: #444;
	font-family:Arial;
	font-size:14.5px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.newGroupChannel button:hover,
.newChannel button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

.newGroupChannel button:active,
.newChannel button:active {
	position:relative;
	top:1px;
}

/* small conversation menu */
.moreMenu {
  position: absolute;
  top: 70px;
  right: calc(50% - 700px);
  z-index: 10;
  padding: 10px;
  color: #666;
  border-radius: 0 0 0 4px;
  background: #fff;
  display: none;
  border-top: 1px solid #ddd;
}

.moreMenu .option {
  width: 150px;
  height: 50px;
  display: block;
  background: #fff;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  padding-left: 10px;
}

.moreMenu .option:hover {
  background: #ddd;
}

.moreMenu .option:nth-last-child(1) {
  margin-top: 3px;
}

/* switch to mobile version screen */
.switchMobile {
  position: absolute;
  width: 65%;
  height: auto;
  padding: 10px;
  background: #fff;
  top: 75px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.switchMobile .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.switchMobile .desc {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
}

.switchMobile .okay {
  float: right;
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  background: #419fd9;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}

/* side menu */
.menuWrap {
  position: absolute;
  width: 30%;
  min-width: 240px;
  max-width: 320px;
  height: 100%;
  z-index: 3;
  display: none;
}

.menu {
  position: relative;
  left: -320px;
  width: 100%;
  height: 100vh;
  float: left;
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.me {
  position: relative;
  width: calc(100% - 50px);
  height: 140px;
  background: #419fd9;
  padding: 15px 25px;
  margin-bottom: 15px;
}

.me .image > img {
  width: 70px;
  height: 70px;
  background: #fff no-repeat center;
  background-size: cover;
  border-radius: 100%;
  cursor: pointer;
}

.me .settings {
  position: absolute;
  right: 20px;
  bottom: 65px;
  width: 40px;
  height: 40px;
  padding-top: 2px;
  color: #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.me .settings:hover {
  background: rgba(0, 0, 0, 0.35);
}

.me .cloud {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.09);
}

.me .cloud:hover {
  background: rgba(0, 0, 0, 0.35);
}

.me .myinfo {
  position: absolute;
  bottom: 15px;
  font-size: 14px;
  color: #fff;
}

.myinfo .name {
  font-weight: 600;
  margin-bottom: 5px;
}

.myinfo .phone {
  font-weight: 300;
}

nav button {
  width: 100%;
  height: 45px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  color: #666;
}

nav {
  float: left;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

nav button:hover {
  background: #eee;
}

nav button > i {
  color: #999;
  float: left;
}

nav button > span {
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
}

.info {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 12px;
  color: #666;
}

/* configuration screen */
.config {
  position: absolute;
  width: 50%;
  height: 100vh;
  left: 0px;
  right: -200vw;
  top: 0px;
  margin: auto;
  background: #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  z-index: 520;
  opacity: 0;
}

.confTitle {
  font-size: 24px;
  font-weight: 600;
  color: #444;
  margin: 10px 0px 15px 0px;
}

.configSect {
  float: left;
  width: calc(100% - 60px);
  padding: 15px 30px;
  margin-bottom: 10px;
  background: #fff;
}

.profile .image > img {
  width: 140px;
  height: 140px;
  background: #fff no-repeat center;
  background-size: cover;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.side {
  width: auto;
  height: 110px;
  float: none;
  position: relative;
}

.side .name {
  font-size: 18px;
  font-weight: 600;
}

.side .pWebId {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

.profile .changePic,
.profile .edit {
  width: auto;
  font-size: 16px;
  font-weight: 600;
  background: #419fd9;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.profile .edit {
  margin-left: 10px;
  background: #fff;
  color: #999;
}

.profile .edit:hover {
  color: #419fd9;
}

.second ul {
  float: none;
  margin-left: -7px;
  list-style-type: none;
}

.second ul li {
  margin: 7px;
}

.second .blue {
  color: #419fd9;
}

.second label {
  display: block;
  clear: both;
}

.second .information {
  margin-bottom: 30px;
}

.check {
  position: relative;
  float: left;
  display: block;
  width: 38px;
  height: 14px;
  background: #bbb;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.check > .tracer {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #bbb;
  border-radius: 100%;
  float: left;
  margin-top: -3px;
  transition: all 0.2s ease-in-out;
}

#checkNight,
#deskNotif,
#showSName,
#showPreview,
#playSounds {
  display: none;
}

.toggleTracer:checked ~ .check {
  background: #419fd9;
}

.toggleTracer:checked ~ .check > .tracer {
  border-color: #419fd9;
  margin-left: 18px;
}

.optionWrapper {
  display: block;
  width: 100%;
  height: 32px;
}

.optionWrapper p {
  float: left;
  margin-top: 3px;
  margin-left: 15px;
  font-size: 14px;
  color: #444;
}

/* dark overlay element */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

/* ----------------- */
/* MAIN APP ELEMENTS */
/* ----------------- */

.leftPanel {
  position: relative;
  display: inline-block;
  left: 0px;
  width: 320px;
  height: 100vh;
  float: left;
  background: #fff;
  border-right: 1px solid #ddd;
}

header {
  width: 100%;
  height: 70px;
  background: #fff;
}

.trigger {
  float: left;
  width: 32px;
  height: 32px;
  margin: 20px 15px;
  margin-bottom: 0px;
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
  background: none;
}

.trigger:hover {
  opacity: 1;
}

.trigger > svg {
  width: 24px;
  height: 24px;
  fill: #888;
}

.go_back {
  font-size: 25px;
  line-height: 25px;
  float: left;
  width: 32px;
  height: 32px;
  margin: 18px 15px;
  margin-bottom: 0px;
  color: #bbb;
  cursor: pointer;
  opacity: 0.7;
  background: none;
  transform: rotate(180deg);
}

.go_back:hover {
  font-weight: bold;
  opacity: 1;
}

.searchChats {
  width: calc(100% - 85px);
  height: 40px;
  background: #eee;
  color: #555;
  float: left;
  padding: 8px;
  margin-top: 14px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.searchChats:focus {
  color: #444;
  border: 2px solid #419fd9;
  background: rgb(243, 243, 243);
}

.chats {
  width: 100%;
  height: calc(100vh - 70px);
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatButton {
  float: left;
  width: 100%;
  height: 80px;
  background: #fff;
  color: #555;
  cursor: pointer;
  overflow: hidden;
}

.chatButton:hover {
  color: #555;
  background: #eee;
}

.active,
.active:hover {
  color: #fff;
  background: #419fd9;
}

.chatInfo {
  position: relative;
  float: left;
}

.chatInfo p {
  float: left;
}

.chatInfo .image {
  position: absolute;
  width: 55px;
  height: 55px;
  background: #ddd
    url(/assets/images/default.jpg)
    no-repeat center;
  background-size: cover;
  border-radius: 100%;
  margin: 13px 13px;
}

.chatInfo .name {
  float: left;
  font-weight: 600;
  margin-left: 80px;
  margin-top: 18px;
}

.chatInfo .message {
  float: left;
  clear: left;
  margin-left: 80px;
  margin-top: 7px;

  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
  width: 160px;
}

.status {
  width: 60px;
  height: 100%;
  position: relative;
  float: right;
}

.status .fixed {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
}

div[class~="normal"] > .fixed {
  display: none;
}

div[class~="normal"] > .count {
  right: 10px;
  bottom: 7px;
}

div[class~="onTop"] > .fixed {
  display: block;
  width: 24px;
  height: 24px;
  fill: #fff;
}

div[class~="onTop"] > .count {
  right: 49px;
  bottom: 7px;
  background: #fff;
  color: #419fd9;
}

.status .count {
  position: absolute;
  right: 49px;
  bottom: 7px;
  width: auto;
  height: auto;
  padding: 7px;
  border-radius: 20px;
  color: #222;
  background: rgba(0, 0, 0, 0.12);
}

.status .date {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
}

.status .read {
  position: absolute;
  right: 53px;
  top: 6px;
}

.rightPanel {
  float: left;
  width: calc(100% - 321px);
  height: 100vh;
  background: #999;
}

.rightPanel .topBar {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
}

.leftSide {
  display: inline-block;
  clear: none;
  float: left;
}

.leftSide .chatName {
  float: left;
  margin-left: 30px;
  margin-top: 22px;
  color: #444;
  font-weight: 600;
  cursor: default;
}

.chatName > span {
  font-size: 12px;
  font-weight: 500;
  color: #bbb;
  margin-left: 10px;
}

.leftSide .chatStatus {
  float: left;
  clear: left;
  margin-left: 30px;
  margin-top: 5px;
  color: #419fd9;
  font-weight: 300;
  cursor: default;
}

.rightSide {
  display: inline-block;
  clear: none;
  float: right;
  margin-right: 20px;
}

.tbButton,
.otherTools .toolButtons {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: #fff;
  color: #888;
  border-radius: 100%;
}

.tbButton:hover,
.otherTools .toolButtons:hover {
  color: #555;
  background: #ddd;
}

/* THE CONVERSATION HISTORY CSS */

.convHistory {
  float: left;
  position: relative;
  width: 100%;
  height: calc(100vh - 140px);
  background: #333;
  overflow-x: hidden;
  overflow-y: auto;
}

.userBg {
  background: url("https://3dprinterchat.com/wp-content/uploads/2016/01/HD-Background-Wallpapers-8.jpg")
    100% center;
}

.msg {
  position: relative;
  width: auto;
  min-width: 100px;
  max-width: 45%;
  height: auto;
  padding: 25px;
  padding-bottom: 35px;
  margin: 20px 15px;
  margin-bottom: 0px;
  background: #fff;
  border-radius: 7px;
  clear: both;
}

.msg:nth-last-child(1) {
  margin-bottom: 20px;
}

.msg .timestamp {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #aaa;
  user-select: none;
}

.messageReceived {
  float: left;
  background: #fff;
  overflow-wrap: break-word;
}

.messageSent {
  float: right;
  background: #effdde;
  overflow-wrap: break-word;
}

.messageSent > .timestamp,
.messageSent > .readStatus {
  bottom: 10px;
  /*right: 40px;*/
  right: 12px;
  color: darkgreen;
  user-select: none;
}

.messageSent > .readStatus {
  position: absolute;
  bottom: 10px;
  right: 12px;
}

/* THE REPLY BAR CSS */

.replyBar {
  width: 100%;
  height: 70px;
  float: left;
  background: #fff;
}

.replyBar .attach {
  width: 70px;
  height: 70px;
  color: #777;
  background: #fff;
  float: left;
}

.replyBar .attach:hover {
  color: #555;
  background: #ddd;
}

.replyBar .d45 {
  transform: rotate(45deg);
  font-size: 32px;
}

.replyBar .replyMessage {
  width: calc(100% - 220px);
  float: left;
  height: 70px;
  padding: 0px 8px;
  font-size: 16px;
}

.replyBar .otherTools {
  float: right;
  width: 120px;
  height: 70px;
}

.emojiBar {
  display: none;
  position: absolute;
  width: 325px;
  height: 200px;
  padding: 10px;
  /*right: 30px;*/
  right: calc(50% - 690px);
  bottom: 80px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: #fff;
}

.emoticonType {
  width: 100%;
  height: 50px;
}

.emoticonType button {
  width: 105px;
  height: 36px;
  font-weight: 600;
  color: #555;
  background: none;
}

.emoticonType button:hover {
  color: #fff;
  background: #419fd9;
}

.emojiList,
.gifList,
.stickerList {
  width: 100%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

.emojiList .pick {
  width: 50px;
  height: 50px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transition: all 0.15s ease-in-out;
}

.emojiList .pick:hover {
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.gifList .pick,
.stickerList .pick {
  width: 80px;
  height: 80px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  transition: all 0.15s ease-in-out;
}

.gifList .pick,
.stickerList .pick:hover {
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}

/* hidden */
.gifList,
.stickerList {
  display: none;
}

/* CSS FOR THE EMOJI IMAGES, JUST SOME */

#smileface {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/grinning-face_1f600.png);
}

#grinningface {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/grinning-face-with-smiling-eyes_1f601.png);
}

#tearjoyface {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/face-with-tears-of-joy_1f602.png);
}

/* CSS FOR THE EMOJI IMAGES, JUST SOME */

#gif {
  background-image: url(http://www.animated-gifs.eu/category_emoticons/smilies-3d-3/0012.gif);
}


/* SOLVING RESPONSIVE DESIGN ISSUES */

/* Caso: Cuando el contenedor aún no ha alcanzado el ancho máximo */
@media screen and (max-width: 1540px) {
  .moreMenu {
    right: 5%;
  }

  .emojiBar {
    right: calc(5% + 10px);
  }
}

/* Caso: Cuando el contenedor ha alcanzado el ancho mínimo */
@media screen and (max-width: 1300px) {
  .container {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .moreMenu {
    right: 0;
  }

  .emojiBar {
    right: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .config {
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .config {
    width: 90%;
  }
}

@media screen and (max-width: 840px) {
  .leftPanel {
    width: 40%;
  }

  .rightPanel {
    width: calc(60% - 1px);
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }

  .leftPanel {
    width: 45%;
  }

  .rightPanel {
    width: calc(55% - 1px);
  }

  .msg {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .leftPanel {
    width: 45%;
  }

  .rightPanel {
    width: calc(55% - 1px);
  }

  .msg {
    width: auto;
    max-width: 60%;
  }

  .profile .changePic,
  .profile .edit {
    font-size: 14px;
    font-weight: 500;
  }

  .profile .edit {
    margin-left: 5px;
  }
}

@media screen and (max-width: 540px) {
  .switchMobile {
    display: block;
  }

  .leftPanel,
  .rightPanel,
  .menuWrap,
  .config,
  .overlay {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .switchMobile {
    width: calc(220px - 20px);
  }
}