<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<html>
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
<h2 id="DeChatTitle" class=" text-center">DeChat</h2>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent chats</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input id=input_search type="search" class="search-bar" placeholder="Search" />
                <span class="input-group-addon">
                  <button class=lens type="submit" (click)=search()> <i class="fa fa-search"></i> </button>
                </span> 
              </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat" *ngFor="let channel of getChatChannels()">
              <div class="chat_people" (click)="setSelectedChatChannel(channel)">
                <div class="chat_img"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIp3zzC4sZwW3OvXpOKxw2_dH3Zn0oNdxGz60tIDFNeEkjKcA8" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5> {{ channel.participants[0] }} <span class="chat_date">{{ getDayAndMonthLastMessage(channel) }}</span></h5>
                  <p> {{ getLastMessageText(channel) }} </p>
                </div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" id ="input_add_webid" placeholder="Type a friend's webid" />
              <button class="msg_send_btn" type="button" (click)="addNewChatChannel()"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div *ngFor="let msg of getMessagesSelectedChatChannel()">

              <div class="incoming_msg" *ngIf="msg.makerWebId != getChatService().uri">
                <div class="incoming_msg_img"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIp3zzC4sZwW3OvXpOKxw2_dH3Zn0oNdxGz60tIDFNeEkjKcA8" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{ msg.message }}</p>
                    <span class="time_date"> 11:01 PM    |    Yesterday</span></div>
                </div>
              </div>

              <div class="outgoing_msg" *ngIf="msg.makerWebId == getChatService().uri">
                <div class="sent_msg" >
                  <p>{{ msg.message }}</p>
                  <span class="time_date"> 11:02 PM    |    Yesterday</span> </div>
              </div>

            </div>
          </div>

          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" id ="input_text" placeholder="Type a message" />
              <button class="msg_send_btn" (click)="sendMessage()" (click)="emptyText()" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
