<div class="login-page">

  <!-- APP LOGO -->
  <div style="margin-top:60px;">
    <i class="fab fa-optin-monster" style="font-size: 90px; color:#0040ff;"></i>
  </div>

  <!-- APP NAME -->
  <h1>
    <style>
      h1 { color: #0040ff; }
    </style>
    DECHAT_ES6B
  </h1>

  <!-- LOGIN TITLE -->
  <h2>
    Login with Solid Identity
  </h2>

  <!-- PROVIDER SELECTION -->
  <div style="margin-top: 10px">
    <button class="wide-button" (click)="onLogin()" style="margin-top:10px;">LOGIN</button>
  </div>

  <!-- REGISTRATION -->
  <div class="registration-link">
    <p style="margin: 12px;">Don't have a Solid Identity?</p>
    <button class="wide-button" (click)="goToRegistration()">Register</button>
  </div>

  <!-- HELP -->
  <div style="margin-top: 48px;">
    <a href="https://solid.mit.edu" target="_blank" class="small-link">
      <i class="fas fa-info-circle"></i> What is a Solid Identity?
    </a>
  </div>

</div>
  

